*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    width: 100px;
    height: 50px;
    text-align: center;
}
.border{
    border: 1px solid;
    background-color: bisque;
    padding: 40px;
}

.border1{
    background-color: chartreuse;
    border: 1px solid;
    /* atas bawah kiri kanan */
    padding: 20px 50px;
}

.border2{
    background-color: black;
    /* atas kiri kanan bawah */
    padding: 5px 20px 50px;
    color: aqua;
    border: 1px solid;
}

.border3{
    background-color: rgb(80, 189, 103);
    /* atas kanan bawah kiri */
    padding: 5px 10px 20px 50px;
    color: rgb(138, 27, 57);
    border: 1px solid;
}

/*  padding block
    padding inline
*/

/* padding bisa juga memakai padding right, padding left, padiing top, padding bottom */
