*{
    font-family: sans-serif;
}

body{
    background-color: rgb(255, 255, 255);

}div.navbar{
    background-color: rgb(102, 107, 138);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.item{
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
    align-items: center;
    border-radius: 10px;


}

div.navbar a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


h1{
    font-weight: 400;
    color: hsla(0, 0%, 0%, 1);
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(250, 250, 250, 0.5);
    font-weight: bolder;
}

p.credit{
    color: black;
    font-style: italic;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}



p.paragraf1{
    font-family: Verdana;
    text-transform: lowercase;
    text-align: justify;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
}

div.box{
    display: flex;
    justify-content: center;
    background-color: red;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
}

div.box1, div.box2, div.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

div.boxx{
    display: flex;
    justify-content: center;
    background-color: rgb(135, 106, 195);
    margin: 30px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;

}

div.boxx1, div.boxx2, div.boxx3{
    width: 150px;
    height: 150px;
    background-color: bisque;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}


